@model ContosoUniversity.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Вы точно хотите удалить этот элемент?</h3>
<div>
    <h4>Студент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
           Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt class="col-sm-2">
           Дата поступления
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
    </form>
    <br />
    <a asp-action="Index">Назад</a>
</div>
