@model ContosoUniversity.Models.University

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Вы точно хотите удалить этот элемент?</h3>
<div>
    <h4>Университет</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Адрес
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="UniversityID" />
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    </form>
    <br />
    <a asp-action="Index">Назад</a>
</div>
